@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles.css */

/* Style the entire code block */
pre code {
  background-color: #454545 !important;
  border-radius: 5px;
  padding: 2rem !important;
  font-family: 'Courier New', Courier, monospace;
  display: block;
  overflow: scroll;
  color: #f6f6f6 !important;
  line-height: 1.5;
  font-size: 0.9rem !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}

pre code::-webkit-scrollbar{
  display: none;
}
/* Target specific lines for coloring */
pre code::before {
  content: "Code :";
  white-space: pre;
  display: block;
}

/* Style the first command (npx create-react-app my-app) */
pre code::first-line {
  color: #c0ffea;
  /* Color for commands */
}

/* Style the second command (cd my-app) */
pre code::nth-line(2) {
  color: #c0ffea;
  /* Color for directory or file names */
}

/* Style the third command (npm start) */
pre code::nth-line(3) {
  color: #c0ffea;
  /* Color for commands */
}